**/__pycache__
.venv
train_val_logs/
slurm_la
slurm*
logs/
machine*
plots/
CIFARtest/
models*
models/
slurmfiles/
machinefiles/
saliency_maps/
saliency_maps*
knnplots/
knn_logs/
knn_query_logs/
knnplots*
knn_models/
knn_models*
knn_classifier.pkl
knn_classifier*
exactmatch*
exactmatch/
lshplots/
lshplots*
datasetsizes/
datasetsizes*
lshcifar
lshcifar*